body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dce7e7;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80%;
}

.left-box, .right-box {
    border-radius: 20px;
    color: white; /* Set text color to white */
}

.left-box {
    width: 60%;
    height: 100%;
    background-color: #000080; /* Navy background */
    padding: 20px; /* Add some padding for better spacing */
}

.right-box {
    width: 30%;
    height: 100%;
    background-color: #b19cd9; /* Light purple background */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}